{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Hello Chris!</h1>
        <h3>This is your profile where you can see all of your liked foods & meals, add friends & groups, track the progress of active meals and update your calendar.</h3>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs">
        {% block profile_tabs %}
        
        <li role="presentation" class="active">
            <a href="/profile"><span class="glyphicon glyphicon-fire"></span> Current Tasks</a>
        </li>
        
        <li role="presentation">
            <a href="/profile/ingredients"><span class="glyphicon glyphicon-apple"></span> Liked Ingredients</a>
        </li>
        
        <li role="presentation">
            <a href="/profile/meals"><span class="glyphicon glyphicon-cutlery"></span> Liked Meals</a>
        </li>
        
        <li role="presentation">
            <a href="/profile/groups"><span class="glyphicon glyphicon-user"></span> Edit Groups</a>
        </li>
        
        <li role="presentation">
            <a href="/profile/calendar"><span class="glyphicon glyphicon-calendar"></span> Your Calendar</a>
        </li>
        
        {% endblock %}
    </ul>
    
    <div class="row">
        {% block profile_content %}
        
        <style>
            .task {
                font-size: 16px;
                cursor: pointer;
            }
            .task:hover {
                background: #eee;
            }
            .task input {
                cursor: pointer;
            }
        </style>
        
        <div class="col-md-12">
            <h2>DJ POCKT is making Roast Chicken</h2>
            
            
            <h3>Your Tasks</h3>
            <ul class="list-group">
                <li class="list-group-item task"><input type="checkbox" /> Prepare Chicken</li>
                <li class="list-group-item task"><input type="checkbox" /> Put Chicken in</li>
            </ul>
            
            <hr>
            <h3>Group Tasks</h3>
            <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['gantt']}]}"></script>
            <div id="group_chart"></div>
        </div>
        
        <script>
            $('.task').click(function () {
                $(this).find('input').trigger('click');
            });

            $('.task input').click(function (e) {
                e.stopPropagation();
                color();
            });
            
            google.load("visualization", "1.1", {packages:["gantt"]});
            google.setOnLoadCallback(groupChart);

            function minutesToMilliseconds(mins) {
                return mins * 60 * 1000;
            }

            function groupChart() {
                var startDate = Date.now();
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Task ID');
                data.addColumn('string', 'Task Name');
                data.addColumn('string', 'Resource');
                data.addColumn('date', 'Start Date');
                data.addColumn('date', 'End Date');
                data.addColumn('number', 'Duration');
                data.addColumn('number', 'Percent Complete');
                data.addColumn('string', 'Dependencies');

                data.addRows([
                    ['1', 'Clean surfaces', 'David',
                     new Date(startDate), null, minutesToMilliseconds(5),  0,  null],
                    
                    ['2', 'Prepare vedge', 'Oli',
                     null, null, minutesToMilliseconds(10), 0, '1'],
                    
                    ['3', 'Prepare Chicken', 'Chris',
                     null, null, minutesToMilliseconds(10), 0, '1'],
                    
                    ['4', 'Pre heat oven', 'David',
                     new Date(startDate + minutesToMilliseconds(10)), null, minutesToMilliseconds(5), 0, '1'],
                    
                    ['5', 'Put Chicken in', 'Chris',
                     null, null, minutesToMilliseconds(50), 0, '3,4'],
                    
                    ['6', 'Put vedge on', 'Oli',
                     new Date(startDate + minutesToMilliseconds(55)), null, minutesToMilliseconds(10), 0, '2'],
                    
                    ['7', 'Dish up', 'Jack, Pius',
                     null, null, minutesToMilliseconds(5), 0, '5,6'],
                    
                    ['8', 'Tuck in', 'Everyone',
                     null, null, minutesToMilliseconds(30), 0, '7'],
                    
                    ['9', 'Wash up', 'Tom, Kieran',
                     null, null, minutesToMilliseconds(10), 0, '8']
                ]);
                
                var options = {
                    height: 500,
                    gantt: {
                        trackHeight: 50
                    }
                };

                var chart = new google.visualization.GanttChart(document.getElementById('group_chart'));

                chart.draw(data, options);
            }
            
            function color() {
                $('input:checkbox').each(function () {
                    if (this.checked) {
                        $(this).parent('.task').css({background: '#4cae4c', color: '#FFF'});
                    } else {
                        $(this).parent('.task').css({background: 'none', color: 'inherit'});
                    }
                });
            }
        </script>
        
        <style>
            svg:not(:root) {
                overflow: inherit;
            }
        </style>
        
        {% endblock %}
    </div>
</div>

{% endblock %}