{% extends "profile.twig" %}


{% block profile_tabs %}
<li role="presentation">
    <a href="/profile"><span class="glyphicon glyphicon-fire"></span> Current Tasks</a>
</li>

<li role="presentation" class="active">
    <a href="/profile/ingredients"><span class="glyphicon glyphicon-apple"></span> Liked Ingredients</a>
</li>

<li role="presentation">
    <a href="/profile/meals"><span class="glyphicon glyphicon-cutlery"></span> Liked Meals</a>
</li>

<li role="presentation">
    <a href="/profile/groups"><span class="glyphicon glyphicon-user"></span> Edit Groups</a>
</li>

<li role="presentation">
    <a href="/profile/calendar"><span class="glyphicon glyphicon-calendar"></span> Your Calendar</a>
</li>
{% endblock %}

    
{% block profile_content %}

<div class="col-md-12">
    <h2>Ingredients</h2>
    
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group">
                <li class="list-group-item group">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <h3 class="navbar-left"></h3>
                            <a type="button" class="btn btn-lg btn-danger navbar-btn navbar-right" href="#reset"><span class="glyphicon glyphicon-remove"></span> Reset</a>
                        </div>
                    </nav>
                    
                    <ul id="items" class="list-group"></ul>
                </li>
            </ul>
        </div>
    </div>
    
    <script>
        $(document).ready(function (){
            load();
            
            $('.btn-danger').click(function () {
                $('input:checkbox').each(function () {
                    $(this).trigger('click');
                });
            });
            
            $('.food_item').click(function () {
                $(this).find('input').trigger('click');
            });

            $('.food_item input').click(function (elm) {
                elm.stopPropagation();

                var checked = [];

                $('input:checkbox').each(function () {
                    if (this.checked) {
                        checked.push($(this).val());
                    }
                });

                save(checked);
                color();
            });
        });
        
        function save(checked) {
            if (typeof(Storage) !== "undefined") {
                if (localStorage.preferences) {
                    localStorage.preferences = checked;
                } else {
                    localStorage.setItem("preferences", checked);
                }
            }
        }
        
        function load() {
            if (typeof(Storage) !== "undefined") {
                if (localStorage.preferences) {
                    var checked = localStorage.preferences.split(',');
                    console.log(checked);
                    
                    for (var i = 0; i < checked.length; i++) {
                        $('#items').append('<li class="list-group-item food_item"><input type="checkbox" value="' + checked[i] + '" checked> ' + checked[i] + '</li>');
                    }
                }
            }
        }
        
        function color() {
            $('input:checkbox').each(function () {
                if (this.checked) {
                    $(this).parent('.food_item').css({background: 'none', color: 'inherit'});
                } else {
                    $(this).parent('.food_item').css({background: '#d43f3a', color: '#FFF'});
                }
            });
        }
    </script>
</div>

{% endblock %}