{% extends "profile.twig" %}


{% block profile_tabs %}
<li role="presentation">
    <a href="/profile"><span class="glyphicon glyphicon-fire"></span> Current Tasks</a>
</li>

<li role="presentation">
    <a href="/profile/ingredients"><span class="glyphicon glyphicon-apple"></span> Liked Ingredients</a>
</li>

<li role="presentation">
    <a href="/profile/meals"><span class="glyphicon glyphicon-cutlery"></span> Liked Meals</a>
</li>

<li role="presentation" class="active">
    <a href="/profile/groups"><span class="glyphicon glyphicon-user"></span> Edit Groups</a>
</li>

<li role="presentation">
    <a href="/profile/calendar"><span class="glyphicon glyphicon-calendar"></span> Your Calendar</a>
</li>
{% endblock %}

    
{% block profile_content %}

<div class="col-md-12">
    <h2>Groups</h2>
    <ul class="list-group">
        <li class="list-group-item group">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <h3 class="navbar-left">DJ POCKT</h3>
                    <a type="button" class="btn btn-lg btn-danger navbar-btn navbar-right" href="#leave"><span class="glyphicon glyphicon-remove"></span> leave</a>
                </div>
            </nav>
            
            <ul class="list-group">
                <li class="list-group-item member">You</li>
                <li class="list-group-item member">David</li>
                <li class="list-group-item member">Jack</li>
                <li class="list-group-item member">Kieran</li>
                <li class="list-group-item member">Oli</li>
                <li class="list-group-item member">Pius</li>
                <li class="list-group-item member">Tom</li>
            </ul>
        </li>
    </ul>
</div>

{% endblock %}