{% extends "profile.twig" %}


{% block profile_tabs %}
<li role="presentation">
    <a href="/profile"><span class="glyphicon glyphicon-fire"></span> Current Tasks</a>
</li>

<li role="presentation">
    <a href="/profile/ingredients"><span class="glyphicon glyphicon-apple"></span> Liked Ingredients</a>
</li>

<li role="presentation" class="active">
    <a href="/profile/meals"><span class="glyphicon glyphicon-cutlery"></span> Liked Meals</a>
</li>

<li role="presentation">
    <a href="/profile/groups"><span class="glyphicon glyphicon-user"></span> Edit Groups</a>
</li>

<li role="presentation">
    <a href="/profile/calendar"><span class="glyphicon glyphicon-calendar"></span> Your Calendar</a>
</li>
{% endblock %}

    
{% block profile_content %}

<div class="col-md-12">
    <h2>Meals</h2>
    
    <ul class="list-group">
        <li class="list-group-item">
            <img src="http://img.recipepuppy.com/632814.jpg">
            <h3>Roast Chicken </h3>
            <a type="button" class="btn btn-lg btn-info" href="#make"><span class="glyphicon glyphicon-fire"></span> Make</a>
            <a type="button" class="btn btn-lg btn-danger" href="#dislike"><span class="glyphicon glyphicon-remove"></span> Dislike</a>
        </li>
    </ul>
</div>

{% endblock %}