{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Ingredient Suggestions</h1>
        
        <hr>
        
        <a type="button" class="btn btn-lg btn-default" href="/suggestions">
            <span class="glyphicon glyphicon-th-list"></span> List
        </a>
        
        <a type="button" class="btn btn-lg btn-default" href="/suggestions/swipe">
            <span class="glyphicon glyphicon-heart"></span> Individual
        </a>
    </div>
</div>

<div class="container">
    
    {% block display %}
    
    <style>
        .food_item {
            font-size: 16px;
            cursor: pointer;
        }
        .food_item:hover {
            background: #eee;
        }
        .food_item input {
            cursor: pointer;
        }
    </style>
    
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group">
                {% for food in foods %}

                <li class="list-group-item food_item"><input type="checkbox" value="{{food.name}}"> {{food.name}}</li>

                {% endfor %}
            </ul>
        </div>
    </div>
    
    <script>
        $(document).ready(function (){
            load();
            color();
            
            $('.food_item').click(function () {
                $(this).find('input').trigger('click');
            });

            $('.food_item input').click(function (elm) {
                elm.stopPropagation();

                var checked = [];

                $('input:checkbox').each(function () {
                    if (this.checked) {
                        checked.push($(this).val());
                    }
                });

                save(checked);
                color();
            });
        });
        
        function save(checked) {
            if (typeof(Storage) !== "undefined") {
                if (localStorage.preferences) {
                    localStorage.preferences = checked;
                } else {
                    localStorage.setItem("preferences", checked);
                }
            }
        }
        
        function load() {
            if (typeof(Storage) !== "undefined") {
                if (localStorage.preferences) {
                    var checked = localStorage.preferences;
                    checked = checked.split(',');
                    
                    $('.food_item input').each(function (index, elm) {
                        for (var i = 0; i < checked.length; i++) {
                            if (elm.getAttribute('value') == checked[i]) {
                                elm.setAttribute('checked', true);
                            }
                        }
                    });
                }
            }
        }
        
        function color() {
            $('input:checkbox').each(function () {
                if (this.checked) {
                    $(this).parent('.food_item').css({background: '#4cae4c', color: '#FFF'});
                } else {
                    $(this).parent('.food_item').css({background: 'none', color: 'inherit'});
                }
            });
        }
    </script>
    
    {% endblock %}
    
</div>

{% endblock %}