{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Ingredient Suggestions</h1>
        
        <hr>
        
        <a type="button" class="btn btn-lg btn-default" href="/suggestions">
            <span class="glyphicon glyphicon-th-list"></span> List
        </a>
        
        <a type="button" class="btn btn-lg btn-default" href="/suggestions/swipe">
            <span class="glyphicon glyphicon-heart"></span> Individual
        </a>
    </div>
</div>

<div class="container">
    
    {% block display %}
    
    <div class="row">
        <div class="col-lg-6">
            <form method="post" action="/suggestions">
                <ul class="list-group">
                    {% for food in foods %}

                    <li class="list-group-item"><input type="checkbox" value="{{food.name}}"> {{food.name}}</li>

                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
    
    {% endblock %}
    
</div>

{% endblock %}